.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  color: white;
  font-size: 36px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input_data {
  position: absolute;
  top: 0;
  right: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table-container {
  margin-top: 10px; /* Відстань зверху для таблиці */
}

.table-container table {
  border-spacing: 10px; /* Відстань між елементами таблиці */
}

.table-container td {
  padding: 5px; /* Зазначте власний padding, якщо потрібно */
}
